/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* COLORS =============================================
   Dark Pink (Magenta): #b21e49;
   Light Grey: #eeeeee;
   Bright Pink: #ff1256;
   Dark Grey: #222222;
   Blue: #23a4cc;
   ============================================= */

body, html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #222222;
  background-color: #eeeeee;
}

a {
  font-weight: 700;
  color: #23a4cc;
  text-decoration: none;
}

p {
  font-size: 1em;
  line-height: 1.4;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

h1 {
  font-size: 1.4em;
  line-height: 1.6;
}

h2 {
  font-size: 1em;
}

.btn {
  background-color: #b21e49;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  line-height: 2.5;
  text-align: center;
  box-shadow: 2px 2px 0px #dadada;
  height: 2.5em;
  width: 100%;
  display: block;
}

.btn:hover {
  background-color: #ff1256;
}

.btn i {
  padding-right: 10px;
}

input.btn {
  background-color: #ff1256;
}

img {
  width: 100%;
  height: auto;
}

input.btn:hover {
  background-color: #b21e49;
}

.no-border {
  border: none;
}

/****** Header ******/
.main-header {
  width: 100%;
  background-color: #eee;
  margin: auto;
}

#logo {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#logo img {
  width: 100%;
  margin: auto;
  max-width: 275px;
  padding: 3%;
  background-color: #222;
}

nav {
  width: 100%;
  background: #ddd;
}

nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

nav ul li a {
  font-size: 1.125em;
  text-transform: uppercase;
  color: #333;
}

nav ul li a:hover {
  color: #ff1256;
}

nav i {
  padding-right: 10px;
}

/****** Main *******/

main {
  width: 96%;
  padding: 0 2%;
  margin: auto;
  max-width: 960px;
}

/******* HOME PAGE & REVIEWS PAGE ******/

/****** Top News Item ********/

.top-story {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.top-img {
  width: 100%;
  height: auto;
  margin: 0;
}

.top-img img {
  width: 100%;
}


/******* Sidebar *******/

.sidebar {
  width: 100%;
}

.sidebar-upcoming {
  display: none;
}

.sidebar-faq {
  display: none;
}

.newsletter {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.newsletter input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 5px;
}

.detail .newsletter {
  border-bottom: none;
}

/******** Feed *****/

.feed {
  width: 100%;
}

.feed-item {
  clear: both;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.feed-item h2 {
  margin: 0;
}

.feed-item h2 a {
  color: #222;
}

.feed-item h2 a:hover {
  color: #23a4cc;
}

.feed-item:nth-child(7) {
  border-bottom: none;
}

.feed-type {
  text-transform: uppercase;
  font-size: .8em;
}

.feed-img {
  width: 45%;
  float: left;
  margin: 0;
  padding-right: 3%;
}

.feed-info {
  width: 42%;
  float: left;
}

.feed p {
  display: none;
}

/******** DETAILS PAGES ********/

.reviews-img, .news-img {
  width: 100%;
  margin: 0;
}

ul.article-meta-info {
  list-style: none;
  padding: 0;
  width: 100%;
  height: 2em;
}

ul.article-meta-info li {
  display: inline-block;
  margin-bottom: 10px;
}

.article-author {
  padding-right: 10px;
  border-right: 1px solid;
  margin-right: 10px;
}

/********* ABOUT ********/
.contact {
  width: 30%;
  float: left;
  min-width: 280px;
}

.contact ul {
  list-style: none;
  padding: 0;
}

.contact ul li {
  display: inline-block;
  vertical-align: top;
}

.map-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    min-width: 400px;
}

.map-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mission {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  width: 100%;
}

.team {
  padding-top: 15px;
}

.team-member {
  padding: 15px 0;
}

.team-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  padding-bottom: 40%;
  float: left;
  margin-right: 20px;
  border: 1px solid #ccc;

}

.team-name {
  margin-bottom: 0;

}

.team-title {
  margin-top: 0;
}

.team-description {
  display: none;
}

#team-img-jack {
  background-image: url('../img/team-img-jack.jpg');
}

#team-img-lana {
  background-image: url('../img/team-img-lana.jpg');

}

#team-img-willow {
  background-image: url('../img/team-img-willow.jpg');
}

#team-img-willow, #team-img-lana, #team-img-jack {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/******* FAQ *********/

.faq-question-1, .faq-question-2, .faq-question-3 {
  border-bottom: 1px solid #ccc;
}

.faq-question-1, .faq-question-2, .faq-question-3, .faq-question-4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.faq-question-1 h3, .faq-question-2 h3, .faq-question-3 h3, .faq-question-4 h3 {
  font-weight: 400;
}


/******* CONCERTS ********/

.concert-main aside {
  display: none;
}

.concert-column-1 {
  float: left;
}

.concert-column-2 {
  float: left;
}

.concert-item {
  padding-top: 5%;
  padding-bottom: 3%;
  min-width: 315px;
}

.concert-item h3 {
  float: left;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #ddd;
  width: 3em;
  height: 3em;
  margin: 0 5% 0 0;
}

.concert-item p {
  display: block;
  margin: 0;
  line-height: 1.2em;
}

.concert-item:nth-child(7) {
  border-bottom: 1px solid #ccc;
}

.concert-item:nth-child(9) {
  border-bottom: none;
}

.concert-info {
  width: 75%;
  float: left;
}


/******** Footer ********/

footer  {
  width: 100%;
  margin: auto;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
}

#footer-logo {
  width: 47.5%;
  margin: auto;
}

#footer-logo img {
  padding: 5%;
  width: 70%;
  background-color: #222;
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (min-width: 768px) {
    /******* Tablet styles ********/

    /****** Header *********/

    .main-header {
      width: 94%;
      max-width: 960px;
      margin: auto;
      background-color: #ddd;
      padding: 0 3%;
    }

    #logo {
      width: 40%;
      float: left;
    }

    nav {
      width: 60%;
      float: right;
    }

    nav ul {
      margin: 0;
    }

    nav ul li {
      display: inline;
      padding: 0 2%;
      border: none;
      line-height: 2;
      position: relative;
      top: 16px;
      font-size: .8em;
    }

    /******** Featured News Item *********/

    .top-story {
      width: 100%;
      padding-top: 40px;
      padding-bottom: 20px;
      border-right: none;
      border-bottom: 1px solid #ccc;
    }

    .top-img {
      width: 57%;
      float: left;
      padding-right: 3%;
    }

    .top-info {
      width: 40%;
      float: left;
      border-top: none;
    }

    /******** Sidebar *********/

    .sidebar {
      clear: both;
      width: 36%;
      float: right;
      border-left: none;
      padding-left: 10px;

    }

    .sidebar-upcoming, .sidebar-faq {
      display: block;
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
    }

    /******* News/Reviews Feed Section ********/

    .feed {
      width: 60%;
      float: left;
      border-right: 1px solid #ccc;
    }

    .feed h2 {
      font-size: 1.125em;
    }

    .feed-img {
      width: 35%;
    }

    .feed-item {
      padding-right: 20px;
    }

    .feed-info {
      width: 57%;
    }

    /********* Details Pages *********/

    .detailed-content {
      padding-top: 30px;
    }

    .reviews-img, .news-img {
      width: 50%;
      float: left;
      margin: 0 3% 0 0;
    }

    .detail-title {
      width: 47%;
      float: left;
    }

    .detail {
      width: 100%;
    }

    .detail .newsletter {
      border: none;
    }

    .detail .newsletter input {
      display: inline;
      width: 70%;
    }

    .detail .newsletter .btn {
      width: 25%;
    }

    .detail .newsletter input[type="text"] {
      padding: 7px 0;
      margin-right: 2%;
    }

    ul.article-meta-info {
      list-style: none;
      padding: 0;
      width: 100%;
      height: 2em;
    }

    ul.article-meta-info li {
      display: inline;
      margin-bottom: 10px;
    }

    .article-author {
      padding-right: 10px;
      border-right: 1px solid;
      margin-right: 10px;
    }

    .detailed-content {
      border-bottom: 1px solid #ccc;
    }

    /******* ABOUT *********/

    .contact {
      width: 30%;
      float: left;
    }

    .map-container {
      position: relative;
      padding-bottom: 40%;
      height: 0;
      overflow: hidden;
      width: 57%;
      float: left;
      border: 1px solid #333;
      margin-bottom: 40px;
      margin-top: 30px;
    }

    .map-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .mission {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 15px 0;
    }

    .team {
      padding-top: 15px;
    }

    .team-member {
      padding: 15px 0;
    }

    .team-img {
      width: 20%;
      padding-bottom: 20%;
      margin-right: 10%;
    }

    /******* CONCERTS *******/

    .concert-feed {
      width: 100%;
      border-right: none;
    }

    .concert-item {
      width: 45%;
      float: left;
      margin-right: 2%;
    }

    .concert-feed .feed-item {
      clear: none;
    }

    .concert-info {
      width: 60%;
    }


    .concert-column-1, .concert-column-2 {
      width: 30%;
      float: left;
    }

    .concert-column-2 {
      margin-left: 20%;
    }

    .concert-item:nth-child(5), .concert-item:nth-child(10) {
      border-bottom: none;
    }

    .feed .concert-feed {
      border-top: none;
      padding-top: 0;
    }

    /******* Footer ********/

    footer {
      width: 100%;
      clear: both;
    }

    #footer-logo {
      width: 30%;
      margin: auto;
    }



}

@media screen and (min-width: 940px) {
    /******** Desktop styles ********/

    h1 {
      font-size: 1.6em;
      line-height: 1.8;
    }

    h2 {
      font-size: 1.4em;
    }

    /****** Header *********/

    #logo {
      width: 30%;
    }

    nav {
      width: 60%;
    }

    nav ul li {
      top: 28px;
    }

    /******* Main ************/

    main {
      margin-top: 20px;
    }

    /******** Featured News Item *********/

    .top-story {
      width: 65%;
      float: left;
      border: none;
      padding-top: 10px;
      padding-right: 2%;
    }

    .top-img {
      width: 100%;
      padding-bottom: 1em;
    }

    .top-img img {
      max-width: 620px;
    }

    .top-info {
      width: 100%;
      float: none;
    }

    /******** Sidebar *********/

    .sidebar {
      clear: none;
      width: 30%;
      float: right;
    }

    .sidebar-faq {
      border: none;
    }

    /******* News/Reviews Feed Section ********/

    .feed {
      width: 100%;
      float: none;
      clear: both;
      padding-top: 20px;
      border-top: 1px solid #ccc;
      border-right: none;
    }

    .feed-img {
      width: 20%;
    }

    .feed h2 {
      margin: 0;
    }

    .feed p {
      display: block;
      margin-top: 0;
    }

    /********* Details Pages *********/

    article.detailed-content {
      width: 65%;
      float: left;
      padding-right: 2.5%;
      border-right: 1px solid #ccc;
    }

    .reviews-img, .news-img {
      width: 100%;
      float: none;
    }

    .detail-title {
      width: 100%;
      float: none;
    }

    .detail {
      width: 30%;
      float: left;
      padding-left: 2%;
    }

    .detail .newsletter input {
      display: block;
      width: 100%;
    }

    .detail .newsletter .btn {
      width: 100%;
    }

    aside.detail .newsletter input[type="text"] {
      margin-right: 0;
    }

    /****** ABOUT *******/

    .team-member {
      padding: 15px 0;
    }

    .team-img {
      width: 20%;
      padding-bottom: 20%;
      margin-right: 5%;
    }

    .team-name {
      margin-top: 0;

    }

    .team-description {
      display: block;
    }

    /******* CONCERTS ******/

    .concert-feed {
      width: 63%;
      float: left;
      border-top: none;
      padding-top: 32px;
      clear: none;
      padding-bottom: 15%;
    }

    .concert-main aside {
      display: block;
      float: right;
      width: 20%;
    }

    .concert-column-2 {
      float: left;
      margin-left: 20%;
      padding-left: 10%;
    }



    /******* Footer ********/

    footer {
      width: 100%;
    }

    #footer-logo {
      width: 20%;
    }

}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
